In [2]:
from langchain.prompts import PromptTemplate
#from langchain_google_vertexai import VertexAI
from langchain.chains import LLMChain
import pandas as pd

In [7]:
df = pd.read_excel("Jamaica_Mobile_KPI_ALL_202405016.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'Jamaica_Mobile_KPI_ALL_202405016.xlsx'

In [32]:
df = df.T

In [33]:
first_row_values = df.iloc[0]

In [34]:
df = df.rename(columns=first_row_values)

In [35]:
df = df[1:]

In [37]:
df = df.drop(df.columns[0], axis=1)

In [43]:
df.shape

(92, 330)

In [44]:
df

,May 2024,Customer KPI's,Activations,Prepaid,Postpaid,Gross Adds,Prepaid Churn,Postpaid Churn,Less Prepaid Rejoiners,Postpaid Rejoiners,...,Cumulative Unique Subs using LTE data,Unique Subs using LTE data in past 30 days,Unique Subs using LTE data per day,Mobile Loan KPI's,Mobile Loans,Loan Issue Value (USD),Loan Admin Fee (USD),Repaid Loan Value (USD),Loan Value Outstanding (USD),No of Loans Outstanding
Unnamed: 1,2024-03-01 00:00:00,NaN,NaN,2511,211,2722,-2996,-478,1837,35,...,145578,600693,145579,2024-03-01 00:00:00,NaN,118495.23,11849.51,131852.11,1459136.05,219675
-38964.79,2024-03-02 00:00:00,NaN,NaN,2640,119,2759,-2854,-35,2586,13,...,206745,602995,139648,2024-03-02 00:00:00,NaN,118199,11819.88,127822.18,2812222.62,427485
Unnamed: 3,2024-03-03 00:00:00,NaN,NaN,565,2,567,-3142,-9,1828,6,...,252554,604344,135468,2024-03-03 00:00:00,NaN,86039.69,8603.96,81918.89,2822610.91,428838
Unnamed: 4,2024-03-04 00:00:00,NaN,NaN,2242,28,2270,-3467,-32,1444,0,...,295415,606512,149307,2024-03-04 00:00:00,NaN,121158.77,12115.86,124507.56,2828237.19,429000
Unnamed: 5,2024-03-05 00:00:00,NaN,NaN,2099,784,2883,-3752,-132,1587,16,...,328791,608838,146427,2024-03-05 00:00:00,NaN,108519.94,10851.98,107569.34,2837046.04,430096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 88,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 89,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 90,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 91,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 92,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2024-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df.dropna(axis=1, how='all', inplace=True)

In [52]:
df.rename(columns={'Postpaid': 'Postpaid Activation'}, inplace=True)

In [53]:
df.rename(columns={'Prepaid': 'Prepaid Activation'}, inplace=True)

In [54]:
df.isna().sum()

May 2024                          0
Prepaid Activation               23
Postpaid Activation              23
Gross Adds                       23
Prepaid Churn                    23
                                 ..
Loan Issue Value  (USD)          23
Loan Admin Fee (USD)             23
Repaid Loan Value  (USD)         23
Loan Value Outstanding  (USD)    23
No of Loans Outstanding          23
Length: 305, dtype: int64

In [56]:
df.to_csv('Jamaica_partial_cleaned.csv', index= False)

In [58]:
df1 = pd.read_csv("Jamaica_partial_cleaned.csv")

In [2]:
def matplotlib_response(query):
    
    prompt_text = """
    "Column name": "Vehicle Number", "Example Value": "HR66C5043", "Column name": "Date", "Example Value": "2024-01-10", "Column name": "Distance (Km)", "Example Value": "521.13", "Column name": "Fuel Consumed (L)", "Example Value": "25.0", "Column name": "Fuel Efficiency (Kmpl)", "Example Value": "9.0", "Column name": "Idling Time", "Example Value": "0 days 01:38:49", "Column name": "No of Refuels", "Example Value": "3", "Column name": "Volume of Refuels", "Example Value": "123.0", "Column name": "No of Pilferage", "Example Value": "1", "Column name": "Volume of Pilferage", "Example Value": "43.0", "Column name": "Engine On Hours", "Example Value": "0 days 14:51:52", "Column name": "Total Running Time (hrs)", "Example Value": "0 days 13:13:03", "Column name": "Idling Time Percentage", "Example Value": "12.460332471681063", "Column name": "Pilferage Rate", "Example Value": "43.0", "Column name": "Average_Speed(Kmph)", "Example Value": "39.42727444675619"
    'dtype_mapping = 'Vehicle Number': 'string', 'Date': 'datetime64', 'Distance (Km)': 'float64', 'Fuel Consumed (L)': 'float64', 'Fuel Efficiency (Kmpl)': 'float64', 'Idling Time': 'timedelta64', 'No of Refuels': 'int64', 'Volume of Refuels': 'float64', 'No of Pilferage': 'int64', 'Volume of Pilferage': 'float64', 'Engine On Hours': 'timedelta64', 'Total Running Time (hrs)': 'timedelta64', 'Idling Time Percentage': 'float64', 'Pilferage Rate': 'float64', 'Average_Speed(Kmph)': 'float64'
    Considering the df and the Pseudo code that is provided to you, write an efficient & executable python code leveraging matplotlib. Be mindlful of the **column names** while using df
    
    - Follow the data types mapping strictly. Very crucial!
    - Do not preprocess df. Do not handle missing values and duplicates. Follow this strictly.
    - Try to express everything in a single plot. Give proper labels for understanding.
    
    Pseudocode: {input}
    Agent: 
    """
    prompt = PromptTemplate.from_template(prompt_text)
    model = VertexAI(model='claude-3-opus@20240229', max_output_tokens=2048)
    chain = LLMChain(llm=model, prompt=prompt)

    response = chain.run(input = query)
    return response

In [5]:
import json
e = "error"

In [21]:
result = {"image": None, "description": f"Error generating response from the model - {e}", "table": None}

In [23]:
json.dumps(result)

'"{\\"image\\": null, \\"description\\": \\"Error generating response from the model - error\\", \\"table\\": null}"'

In [24]:
json.loads(result)

{'image': None,
 'description': 'Error generating response from the model - error',
 'table': None}

In [10]:
import json

e = "error"

# Use string formatting to embed the variable
data = {
    "image": None,
    "description": "Error generating response from the model - {}".format(e),
    "table": None
}

# Convert the dictionary to a JSON string
json_string = json.dumps(data)

# Print the JSON string
print(json_string)

{"image": null, "description": "Error generating response from the model - error", "table": null}

In [1]:
a = "ball"
b = a.startswith("b")

In [2]:
b

True